.carousel {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto 30px;

  .carousel__container {
    position: relative;
    display: flex;
    justify-content: center;
  }

  .carousel__img {
    max-width: 900px;
    width: 90%;
    max-height: 564px;
    object-fit: contain;
    border-radius: 10px;
  }

  .carousel__remove-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('~/assets/images/remove-cross-btn.svg');
    width: 24px;
    height: 24px;
  }
}
