@use '~/assets/styles/variables.scss' as *;

@keyframes scale-up-bottom {
  0% {
    transform: scale(0.5);
    transform-origin: center top;
  }
  100% {
    transform: scale(1);
    transform-origin: center top;
  }
}

.header {
  color: #fff;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;

  .header__top-bg {
    background-color: $dark-blue;
    position: relative;
    z-index: 302;

    .header__container {
      position: absolute;
      top: 5px;
      right: 30px;

      a {
        margin-right: 10px;
      }

      .sign-out-btn {
        background-color: rgba($color: azure, $alpha: 0.2);
        border-radius: 5px;
        padding-inline: 10px;
        transition: background-color 0.3s ease;
        cursor: pointer;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }

  .header__top {
    margin-left: 15%;
    padding: 5px;
    display: flex;
    gap: 14px;

    .header__name {
      font-weight: 500;
    }

    .header__top-link {
      display: flex;
      align-items: center;
    }
  }

  .header__bottom-bg {
    background-color: $mid-blue;
    position: relative;

    .header__bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      @media screen and (max-width: 900px) {
        justify-content: space-between;
        padding-block: 10px;
      }
    }

    .header__bottom-logo {
      position: relative;
      z-index: 3;

      @media screen and (max-width: 1090px) {
        display: none;
      }

      @media screen and (max-width: 900px) {
        display: block;
        margin-left: 25px;
      }
    }

    .header__bottom-links {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      flex-direction: row;

      @media screen and (max-width: 900px) {
        & {
          position: fixed;
          top: 109px;
          left: 0;
          width: 100vw;
          height: 100vh;
          z-index: 2;

          display: none;
        }

        &_open {
          display: flex;
          flex-direction: column;
          align-content: center;
          align-items: flex-start;
          justify-content: flex-start;
          background-color: $mid-blue;
          animation: scale-up-bottom 0.4s;
        }
      }
    }

    .header__burger-btn {
      margin-right: 25px;
      z-index: 3;
    }
  }
}
