@use '~/assets/styles/variables.scss' as *;

.header {
  color: #fff;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;

  .header__top-bg {
    background-color: $dark-blue;
    position: relative;

    .header__container {
      position: absolute;
      top: 5px;
      right: 30px;

      a {
        margin-right: 10px;
      }

      .sign-out-btn {
        background-color: rgba($color: azure, $alpha: 0.2);
        border-radius: 5px;
        padding-inline: 10px;
        transition: background-color 0.3s ease;
        cursor: pointer;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }

  .header__top {
    margin-left: 15%;
    padding: 5px;
    display: flex;
    gap: 14px;

    .header__name {
      font-weight: 500;
    }

    .header__icon {
      width: 24px;
      height: 24px;
      background-size: 100%;

      &.header__icon_home {
        background-image: url('~/assets/images/home-icon.svg');
      }

      &.header__icon_map {
        background-image: url('~/assets/images/map-icon.svg');
      }
    }
  }

  .header__bottom-bg {
    background-color: $mid-blue;

    .header__bottom-logo {
      @media screen and (max-width: 1090px) {
        display: none;
      }
    }

    .header__bottom-links {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
