@use '~/assets/styles/variables.scss' as *;

.dropdown-menu {
  position: relative;

  .dropdown-menu__main-link {
    font-size: 15px;
    font-weight: 600;
    position: relative;
    text-align: center;
    display: flex;
    padding: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;

    &:hover {
      background-color: $light-blue;
    }

    @media screen and (max-width: 1330px) {
      & {
        padding-inline: 12px;
      }
    }
  }

  .dropdown-menu__sub-menu {
    position: absolute;
    top: 100%;
    background: rgba($gray, 0.8);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: clamp(100%, 18vw, 200%);
    display: flex;
    flex-direction: column;
    z-index: 101;
    overflow: hidden;

    li {
      cursor: pointer;
      &:hover {
        background-color: #7195bf;
      }

      a {
        display: flex;
      }
    }
  }
}
