@use '~/assets/styles/variables.scss' as *;

.dropdown-menu {
  position: relative;

  .dropdown-menu__main-link {
    font-size: 15px;
    font-weight: 600;
    position: relative;
    text-align: center;
    display: flex;
    padding: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;

    &:hover {
      background-color: $light-blue;
    }

    @media screen and (max-width: 1360px) {
      & {
        padding-inline: 12px;
      }
    }
  }

  .dropdown-menu__sub-menu {
    position: absolute;
    top: 100%;
    background: rgba($gray, 0.8);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: clamp(100%, 22vw, 200%);
    display: flex;
    flex-direction: column;
    z-index: 101;
    overflow: hidden;

    li {
      cursor: pointer;
      &:hover {
        background-color: #7195bf;
      }

      a {
        display: flex;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .dropdown-menu {
    margin-left: 50px;

    .dropdown-menu__main-link {
      font-size: 18px;
      padding-block: 10px;

      &:hover {
        background-color: transparent;
      }

      &_active {
        text-decoration: underline;
        text-underline-offset: 5px;
        text-decoration-thickness: 2px;
      }
    }

    .dropdown-menu__sub-menu {
      position: static;
      border-radius: 8px;
      margin: 15px 25px 15px 150px;
    }
  }
}
