@use '../variables.scss' as *;

.menu-button {
  color: #fff;
  background-color: $dark-blue;
  width: clamp(200px, 18vw, 320px);
  border-radius: 15px;
  padding-block: 12px;
  font-size: 16px;

  &_active {
    background-color: $light-blue;
  }

  &_size_small {
    width: clamp(150px, 10vw, 230px);
    font-size: 14px;
    padding-block: 9px;
  }
}
