@use '~/assets/styles/variables.scss' as *;

.news-card {
  max-width: 1110px;
  display: grid;
  grid-template-columns: 310px auto 150px;
  grid-template-rows: 200px;
  column-gap: 30px;
  overflow-y: hidden;
  padding-bottom: 50px;
  position: relative;

  .news-card__cover {
    width: 308px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
  }

  .news-card__title {
    color: $mid-blue;
    font-size: clamp(16px, 1.5vw, 18px);
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 10px;
  }

  .news-card__date {
    color: $mid-blue;
    margin-bottom: 15px;
  }

  .news-card__description {
    max-width: 560px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .news-card__management {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    gap: 10px;
  }
}
