@use '~/assets/styles/variables.scss' as *;

.news-form {
  width: 100%;
  margin-right: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &_popup {
    margin: 0 auto;
    min-width: 750px;
  }

  .news-form__top-container {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;

    .news-form__header-inputs {
      flex-grow: 1;
      display: grid;
      row-gap: 10px;
    }
  }

  .news-form__dates {
    display: grid;
    grid-template-columns: 250px 250px;
    column-gap: 50px;
  }

  p {
    margin-bottom: 10px;
  }

  .news-form__btn-container {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
}

@media screen and (max-width: 1350px) {
  .news-form {
    &_popup {
      min-width: 300px;
    }

    .news-form__top-container {
      flex-wrap: wrap;

      .news-form__header-inputs {
        width: 100%;
      }
    }
  }
}
