@use '../variables.scss' as *;

.page-creation {
  .page-creation__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .page-creation__canvases {
    margin-bottom: 30px;

    fieldset {
      display: flex;
      gap: 30px 20px;
      flex-wrap: wrap;
    }

    .page-creation__canvas {
      width: 207px;
      height: 264px;
      background-size: cover;
      cursor: pointer;

      &:hover .page-creation__tooltip {
        visibility: visible;
        opacity: 1;
      }

      .page-creation__tooltip {
        visibility: hidden;
        opacity: 0;
        max-width: 120px;
        background-color: rgb(85, 85, 85);
        color: #fff;
        padding: 5px 10px;
        border-radius: 10px;
        position: absolute;
        z-index: 1;
        top: 105%;
        left: 50%;
        margin-left: -40px;
        transition: opacity 0.2s ease-in;
        text-wrap: pretty;
      }
    }
  }

  .page-creation__text-field {
    input {
      width: clamp(160px, 30vw, 400px);
      padding-block: 8px;
      padding-inline: 5px;
      border-radius: 10px;
      margin-right: 5px;
    }
  }
}
