@use '../variables.scss' as *;

.page-creation {
  margin-right: 100px;

  .page-creation__form {
    display: grid;
    grid-template-columns: 1fr;
  }

  .page-creation__canvases {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 20px;
  
    p {
      flex-basis: 100%;
    }
  
    .page-creation__canvas {
      display: flex;
      flex-direction: column;
      gap: 10px;
      cursor: pointer;
    }
  }

  .page-creation__text-filed input {
    width: clamp(160px, 18vw, 230px);
    padding-block: 8px;
    padding-inline: 5px;
    border-radius: 10px;
    border: black solid 1px;
    margin-bottom: 30px;
    margin-right: 5px;
  }
  
  .page-creation__submit-btn {
    width: clamp(120px, 15vw, 180px);
    border: 1px solid black;
    border-radius: 10px;
    padding-block: 8px;
    justify-self: right;
    transition: opacity 0.3s ease;
  
    &:hover {
      opacity: .7;
    }
  }
}
