*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  padding-left: 0;
}

@media (hover: hover) {
  a[href]:hover {
    color: #f6bf25;
  }
}

@media (hover: none) {
  a[href]:active {
    color: #f6bf25;
  }
}
