@use './variables.scss' as *;

.page-content {
  max-width: 1920px;
  margin: 0 auto;
}

.required {
  color: $required;
}

.error {
  font-size: 14px;
  text-align: center;
  margin-block: 10px;
  color: $required;
}
