@use './variables.scss' as *;
@import url('./components/_carousel.scss');

.main {
  width: clamp(800px, 70vw, 1920px);
  margin: 0 auto;
  padding-block: 40px;
}

.required {
  color: $required;
}

.error {
  font-size: 0.875rem;
  text-align: center;
  margin-block: 10px;
  color: $required;
}

.button {
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}

.content {
  ul,
  ol {
    padding-left: 20px;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }
}
