$required: rgb(239, 68, 68, 0.9);

$dark-blue: rgb(25, 52, 112);
$mid-blue: rgb(60, 81, 180);
$light-blue: rgb(86, 154, 255);

$gray: rgb(88, 116, 149);
$black: rgb(46, 46, 46);

$gray-text: rgb(168, 168, 168);
$gray-text-dark: rgb(107 114 128);
