.login {
  max-width: 340px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  flex-grow: 1;
  justify-content: center;
  gap: 50px;
  position: relative;

  .login__alert {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s ease;

    &_shown {
      top: 10%;
      opacity: 1;
    }
  }

  h1 {
    font-size: 20px;
    text-align: center;
  }

  .login__input-group {
    position: relative;
    flex-grow: 0;

    &:focus-within {
      .login__title {
        top: -1.8rem;
      }
    }

    .login__title {
      position: absolute;
      top: 0.2rem;
      left: 8px;
      z-index: 3;
      transition: top 0.3s ease;

      &_up {
        top: -1.8rem;
      }
    }

    .login__password-eye {
      background-image: url('~/assets/images/eye-closed.svg');
      width: 25px;
      height: 25px;
      background-size: 100% 100%;
      position: absolute;
      top: 4px;
      right: 10px;

      &_opened {
        background-image: url('~/assets/images/eye-opened.svg');
      }
    }
  }

  .login__submit-btn {
    margin: 0 auto;
  }
}
