@use '~/assets/styles/variables.scss' as *;

.link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 3px 7px 3px 10px;
  border-radius: 13px;
  overflow: hidden;
  background: transparent;
  color: $black;
  cursor: pointer;

  &_left {
    &:hover {
      .link__text {
        transform: translateX(-5px);
      }

      .link__arrow {
        transform: translateY(0px);
      }
    }

    .link__text {
      transform: translateX(-18px);
    }
  }

  &_right {
    &:hover {
      .link__text {
        transform: translateX(0px);
      }

      .link__arrow {
        transform: translateY(0px);
      }
    }

    .link__text {
      transform: translateX(15px);
    }
  }

  .link__text {
    font-size: clamp(14px, 2.5vw, 16px);
    font-weight: 600;
    transition-duration: 0.3s;
  }

  .link__arrow {
    transform: translateY(35px);
    transition-duration: 0.3s;
  }
}
